:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  --card-white: hsl(33, 100%, 98%);
}

* {
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  background: var(--cream);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 33.75rem;
}

hr {
  border: solid 0.5px;
  margin: 2em 0;
  color: var(--cream);
}

.subtitle {
  font-size: 0.9375rem;
  margin-bottom: 0.125em;
}

.header {
  color: white;
  background: var(--soft-red);
  border-radius: 0.75rem;
  margin-bottom: 1em;
  padding: 1.25em 1.25em 1.35em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 3.75rem;
  height: 2.5rem;
}

.header__balance {
  font-size: 1.5rem;
  font-weight: 700;
}

.chart {
  background: var(--very-pale-orange);
  border-radius: 0.75rem;
  padding: 1.5em 1.25em;
}

.chart__header {
  font-size: 1.5rem;
  color: var(--dark-brown);
  font-weight: 700;
  margin-bottom: 2.5em;
}

.chart__container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 11rem;
  gap: 0.75rem;
}

.chart__col {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.chart__bar::before,
.chart__bar::after {
  --scale: 0;

  position: absolute;
  top: -0.5rem;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale));
  left: 50%;
}

.chart__bar::before {
  content: attr(data-tooltip);
  color: var(--card-white);
  background: var(--dark-brown);
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 1.125rem;

  transition: 150ms transform;
  transform-origin: bottom center;
}

.chart__bar:hover {
  background: color-mix(in hsl, var(--soft-red) 60%, white 40%);
}

.chart__bar.chart__bar--accent {
  background: var(--cyan);
}

.chart__bar.chart__bar--accent:hover {
  background: color-mix(in hsl, var(--cyan) 60%, white 40%);
}

.chart__bar:hover::before,
.chart__bar:hover::after {
  --scale: 1;
}

.chart__bar {
  position: relative;
  background: var(--soft-red);
  height: 0;
  width: 100%;
  max-width: 3.1375rem;
  margin-bottom: 0.625em;
  border-radius: 0.125rem;
  cursor: pointer;

  transition: all 500ms;
}

.chart__label {
  font-size: 0.75rem;
  color: var(--medium-brown);
  text-align: center;
}

.expense__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense .subtitle {
  color: var(--medium-brown);
}

.expense__amount {
  font-size: 3rem;
  color: var(--dark-brown);
  font-weight: 700;
}

.expense__increase {
  font-size: 0.9375rem;
  font-weight: 700;
  text-align: end;
}

@media (min-width: 38.5rem) {
  .subtitle {
    font-size: 1.125rem;
  }

  .header {
    padding: 1.5em 2em;
  }

  .header__balance {
    font-size: 2rem;
  }

  .chart {
    padding: 2em 2.5em;
  }

  .chart__header {
    font-size: 2rem;
  }

  .chart__label {
    font-size: 0.9375rem;
  }

  .expense__increase {
    font-size: 1.125rem;
  }
}
